{
    "openapi": "3.1.0",
    "info": {
        "title": "ModelizmClub API",
        "version": "1.0.0",
        "description": "ModelizmClub REST API v1 \u2014 auth, profiles, catalog, communities, feed, media, moderation \u0438 admin-\u043f\u0430\u043d\u0435\u043b\u044c.\n\n## \u0411\u0430\u0437\u0430 \u0434\u043b\u044f Swagger Try It (dev)\n\n**Try It \u043d\u0430 dev.modelizmclub.ru \u043f\u0438\u0448\u0435\u0442 \u0432 dev PostgreSQL** (\u043d\u0435 \u0432 PHPUnit sqlite). \u041f\u043e\u0441\u043b\u0435 \u044d\u043a\u0441\u043f\u0435\u0440\u0438\u043c\u0435\u043d\u0442\u043e\u0432 \u0432\u043e\u0441\u0441\u0442\u0430\u043d\u043e\u0432\u0438\u0442\u0435 \u0444\u0438\u043a\u0441\u0442\u0443\u0440\u044b:\n\n```bash\nphp artisan db:seed --class=ReferenceDataSeeder --force\n```\n\n## \u0422\u0435\u0441\u0442\u043e\u0432\u044b\u0435 \u0430\u043a\u043a\u0430\u0443\u043d\u0442\u044b (dev)\n\n| Email | \u041f\u0430\u0440\u043e\u043b\u044c | \u0420\u043e\u043b\u044c | UUID (admin/users) |\n|-------|--------|------|---------------------|\n| `demo@modelizmclub.ru` | `password123` | user | `00000000-0000-4000-8000-000000000001` |\n| `moderator@modelizmclub.ru` | `password123` | moderator | `00000000-0000-4000-8000-000000000002` |\n| `admin@modelizmclub.ru` | `password123` | admin | `00000000-0000-4000-8000-000000000003` |\n\n1. `POST /v1/auth/login` \u2192 \u0441\u043a\u043e\u043f\u0438\u0440\u0443\u0439\u0442\u0435 `meta.token`\n2. **Authorize** \u2192 `Bearer {token}`\n\n## \u0424\u0438\u043a\u0441\u0442\u0443\u0440\u044b \u0434\u043b\u044f CRUD (\u043f\u043e\u0441\u043b\u0435 seed)\n\n| \u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c | \u041a\u043b\u044e\u0447 \u0434\u043b\u044f path/body | \u041f\u0440\u0438\u043c\u0435\u0440 |\n|----------|-------------------|--------|\n| \u041f\u043e\u0441\u0442 \u043d\u0430 \u043c\u043e\u0434\u0435\u0440\u0430\u0446\u0438\u0438 | UUID | `00000000-0000-4000-8000-000000000010` |\n| \u0422\u0430\u0440\u0438\u0444 | slug | `basic`, `pro` |\n| \u041f\u0440\u043e\u043c\u043e\u043a\u043e\u0434 | code | `WELCOME10` |\n| \u0421\u043e\u043e\u0431\u0449\u0435\u0441\u0442\u0432\u043e | slug | `modelizmclub` |\n| \u0411\u0430\u043d\u043d\u0435\u0440 | id | `1` (\u043f\u0435\u0440\u0432\u044b\u0439 \u043f\u043e\u0441\u043b\u0435 seed) |\n| \u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f \u043f\u043e\u0441\u0442\u043e\u0432 | id | \u0438\u0437 `GET /admin/categories/post` (slug `aviation`) |\n\n\u0414\u043b\u044f \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 **\u043d\u043e\u0432\u044b\u0439 email**, \u043d\u0435 demo-\u0430\u043a\u043a\u0430\u0443\u043d\u0442\u044b."
    },
    "servers": [
        {
            "url": "https://api.modelizmclub.ru/api"
        }
    ],
    "tags": [
        {
            "name": "Auth"
        },
        {
            "name": "Feed"
        },
        {
            "name": "Admin \u2014 Moderation"
        },
        {
            "name": "Users"
        },
        {
            "name": "Moderation \u2014 Reports"
        },
        {
            "name": "Admin \u2014 Dashboard"
        },
        {
            "name": "Admin \u2014 Delivery"
        },
        {
            "name": "Notifications"
        },
        {
            "name": "Billing"
        },
        {
            "name": "Admin \u2014 Users"
        },
        {
            "name": "Referrals"
        },
        {
            "name": "Channels"
        },
        {
            "name": "Calls"
        },
        {
            "name": "Listings"
        },
        {
            "name": "Admin \u2014 Content"
        },
        {
            "name": "Delivery \u2014 Seller profile"
        },
        {
            "name": "Admin \u2014 Communities"
        },
        {
            "name": "Delivery \u2014 CDEK"
        },
        {
            "name": "Delivery \u2014 Yandex"
        },
        {
            "name": "Delivery \u2014 Shipments"
        },
        {
            "name": "Delivery \u2014 Webhooks"
        },
        {
            "name": "Admin \u2014 Billing"
        },
        {
            "name": "Admin \u2014 Advertising"
        },
        {
            "name": "Admin \u2014 Notifications"
        },
        {
            "name": "Admin \u2014 System"
        },
        {
            "name": "Admin"
        }
    ],
    "security": [
        {
            "http": []
        },
        {
            "http": []
        }
    ],
    "paths": {
        "/v1/auth/register": {
            "post": {
                "operationId": "v1.register",
                "description": "\u0421\u043e\u0437\u0434\u0430\u0451\u0442 \u0430\u043a\u043a\u0430\u0443\u043d\u0442 \u0438 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0435\u0442 \u043a\u043e\u0434 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u044f \u043d\u0430 email. \u041f\u043e\u0441\u043b\u0435 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438 \u0432\u044b\u0437\u043e\u0432\u0438\u0442\u0435 `POST /v1/auth/verify-email`.",
                "summary": "\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/RegisterRequest"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Email \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
                                                "example": "newuser@example.com",
                                                "maxLength": 255
                                            },
                                            "password": {
                                                "type": "string",
                                                "description": "\u041f\u0430\u0440\u043e\u043b\u044c (\u043c\u0438\u043d\u0438\u043c\u0443\u043c 8 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432)",
                                                "example": "password123"
                                            },
                                            "password_confirmation": {
                                                "type": "string",
                                                "description": "\u041f\u043e\u0432\u0442\u043e\u0440 \u043f\u0430\u0440\u043e\u043b\u044f",
                                                "example": "password123"
                                            },
                                            "registration_track": {
                                                "description": "\u0422\u0440\u0435\u043a \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438: `community` \u2014 \u043b\u0435\u043d\u0442\u0430 \u0438 \u0441\u043e\u043e\u0431\u0449\u0435\u0441\u0442\u0432\u0430; `listing` \u2014 \u043e\u0431\u044a\u044f\u0432\u043b\u0435\u043d\u0438\u044f",
                                                "example": "community",
                                                "$ref": "#/components/schemas/RegistrationTrack"
                                            },
                                            "display_name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "description": "\u041e\u0442\u043e\u0431\u0440\u0430\u0436\u0430\u0435\u043c\u043e\u0435 \u0438\u043c\u044f (\u043d\u0435\u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e)",
                                                "example": "\u0418\u0432\u0430\u043d \u041c\u043e\u0434\u0435\u043b\u0438\u0441\u0442",
                                                "maxLength": 120
                                            },
                                            "referral_code": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "description": "\u0420\u0435\u0444\u0435\u0440\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043f\u0440\u0438\u0433\u043b\u0430\u0441\u0438\u0432\u0448\u0435\u0433\u043e (\u043d\u0435\u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e)",
                                                "example": "MDLZM-ABC123",
                                                "maxLength": 40
                                            }
                                        },
                                        "required": [
                                            "email",
                                            "password",
                                            "password_confirmation",
                                            "registration_track"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "\u041a\u043e\u0434 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u044f \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d \u043d\u0430 email."
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/auth/verify-email": {
            "post": {
                "operationId": "v1.verifyEmail",
                "description": "\u041f\u0440\u043e\u0432\u0435\u0440\u044f\u0435\u0442 \u043a\u043e\u0434 \u0438\u0437 \u043f\u0438\u0441\u044c\u043c\u0430 \u043f\u043e\u0441\u043b\u0435 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438. \u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 Bearer-\u0442\u043e\u043a\u0435\u043d \u0432 `meta.token`.",
                "summary": "\u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u0435 email",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/VerifyEmailRequest"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Email \u0438\u0437 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438",
                                                "example": "newuser@example.com",
                                                "maxLength": 255
                                            },
                                            "code": {
                                                "type": "string",
                                                "description": "6-\u0437\u043d\u0430\u0447\u043d\u044b\u0439 \u043a\u043e\u0434 \u0438\u0437 \u043f\u0438\u0441\u044c\u043c\u0430",
                                                "example": "123456",
                                                "minLength": 6,
                                                "maxLength": 6
                                            }
                                        },
                                        "required": [
                                            "email",
                                            "code"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "const": "Bearer"
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "token_type"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/auth/login": {
            "post": {
                "operationId": "v1.login",
                "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 Bearer-\u0442\u043e\u043a\u0435\u043d Sanctum \u0432 `meta.token`.",
                "summary": "\u0412\u0445\u043e\u0434",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LoginRequest"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Email",
                                                "example": "demo@modelizmclub.ru",
                                                "maxLength": 255
                                            },
                                            "password": {
                                                "type": "string",
                                                "description": "\u041f\u0430\u0440\u043e\u043b\u044c",
                                                "example": "password123"
                                            }
                                        },
                                        "required": [
                                            "email",
                                            "password"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "const": "Bearer"
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "token_type"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/posts": {
            "post": {
                "operationId": "v1.storePost",
                "description": "\u0421\u043e\u0437\u0434\u0430\u0451\u0442 \u0447\u0435\u0440\u043d\u043e\u0432\u0438\u043a. \u0414\u043b\u044f \u043f\u0443\u0431\u043b\u0438\u043a\u0430\u0446\u0438\u0438 \u0432\u044b\u0437\u043e\u0432\u0438\u0442\u0435 `POST /posts/{uuid}/publish`.",
                "summary": "\u0421\u043e\u0437\u0434\u0430\u0442\u044c \u043f\u043e\u0441\u0442",
                "tags": [
                    "Feed"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/StorePostRequest"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "title": {
                                                "type": "string",
                                                "example": "\u0421\u0431\u043e\u0440\u043a\u0430 P-51",
                                                "maxLength": 200
                                            },
                                            "body": {
                                                "type": "string",
                                                "example": "\u041f\u0440\u043e\u0433\u0440\u0435\u0441\u0441 \u0437\u0430 \u043d\u0435\u0434\u0435\u043b\u044e \u2014 \u043a\u0440\u044b\u043b\u044c\u044f \u0438 \u0444\u044e\u0437\u0435\u043b\u044f\u0436.",
                                                "maxLength": 10000
                                            },
                                            "category_id": {
                                                "type": "integer",
                                                "description": "ID \u0438\u0437 GET /categories/posts",
                                                "example": 1
                                            },
                                            "hashtags": {
                                                "type": "array",
                                                "description": "\u041c\u0430\u0441\u0441\u0438\u0432 \u0442\u0435\u0433\u043e\u0432 \u0431\u0435\u0437 #",
                                                "example": "[\"p51\",\"scale72\"]",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "maxItems": 30
                                            }
                                        },
                                        "required": [
                                            "title",
                                            "body",
                                            "category_id"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`PostResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PostResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/admin/moderation/queue": {
            "get": {
                "operationId": "v1.indexModerationQueue",
                "tags": [
                    "Admin \u2014 Moderation"
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u0441\u0442\u0430\u0442\u0443\u0441\u0443 \u043e\u0447\u0435\u0440\u0435\u0434\u0438",
                        "schema": {},
                        "example": "pending"
                    },
                    {
                        "name": "queue",
                        "in": "query",
                        "description": "\u0418\u043c\u044f \u043e\u0447\u0435\u0440\u0435\u0434\u0438",
                        "schema": {},
                        "example": "posts"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "\u0417\u0430\u043f\u0438\u0441\u0435\u0439 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0443",
                        "schema": {},
                        "example": 20
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `ModerationQueueResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ModerationQueueResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/admin/moderation/{type}/{id}/approve": {
            "post": {
                "operationId": "v1.approveModeration",
                "tags": [
                    "Admin \u2014 Moderation"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "description": "\u0422\u0438\u043f \u043e\u0431\u044a\u0435\u043a\u0442\u0430: posts, communities",
                        "schema": {
                            "type": "string"
                        },
                        "example": "posts"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "UUID \u043e\u0431\u044a\u0435\u043a\u0442\u0430 \u043d\u0430 \u043c\u043e\u0434\u0435\u0440\u0430\u0446\u0438\u0438 (seed)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "00000000-0000-4000-8000-000000000010"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModerationDecisionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "\u041e\u0434\u043e\u0431\u0440\u0435\u043d\u043e."
                                                },
                                                "moderatable": {
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "moderatable"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/admin/moderation/{type}/{id}/reject": {
            "post": {
                "operationId": "v1.rejectModeration",
                "tags": [
                    "Admin \u2014 Moderation"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "posts"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "00000000-0000-4000-8000-000000000010"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ModerationDecisionRequest"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "reason": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "description": "\u041f\u0440\u0438\u0447\u0438\u043d\u0430 \u043e\u0442\u043a\u043b\u043e\u043d\u0435\u043d\u0438\u044f",
                                                "example": "\u041d\u0430\u0440\u0443\u0448\u0435\u043d\u0438\u0435 \u043f\u0440\u0430\u0432\u0438\u043b \u0441\u043e\u043e\u0431\u0449\u0435\u0441\u0442\u0432\u0430",
                                                "maxLength": 2000
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "\u041e\u0442\u043a\u043b\u043e\u043d\u0435\u043d\u043e."
                                                },
                                                "moderatable": {
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "moderatable"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/admin/moderation/{type}/{id}/revision": {
            "post": {
                "operationId": "v1.revisionModeration",
                "tags": [
                    "Admin \u2014 Moderation"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "posts"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "00000000-0000-4000-8000-000000000010"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ModerationDecisionRequest"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "comment": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "description": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u043c\u043e\u0434\u0435\u0440\u0430\u0442\u043e\u0440\u0430 \u0430\u0432\u0442\u043e\u0440\u0443",
                                                "example": "\u0414\u043e\u0431\u0430\u0432\u044c\u0442\u0435 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043c\u0430\u0441\u0448\u0442\u0430\u0431\u0430 \u043c\u043e\u0434\u0435\u043b\u0438",
                                                "maxLength": 2000
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u043e \u043d\u0430 \u0434\u043e\u0440\u0430\u0431\u043e\u0442\u043a\u0443."
                                                },
                                                "moderatable": {
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "moderatable"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/admin/reports": {
            "get": {
                "operationId": "v1.indexReports",
                "tags": [
                    "Admin \u2014 Moderation"
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u0441\u0442\u0430\u0442\u0443\u0441\u0443",
                        "schema": {},
                        "example": "pending"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `Modules.Admin.Http.Resources.ReportResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Modules.Admin.Http.Resources.ReportResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/admin/reports/{id}": {
            "get": {
                "operationId": "v1.showReport",
                "tags": [
                    "Admin \u2014 Moderation"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`Modules.Admin.Http.Resources.ReportResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Modules.Admin.Http.Resources.ReportResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "patch": {
                "operationId": "v1.resolveReport",
                "tags": [
                    "Admin \u2014 Moderation"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "reviewing",
                                            "resolved",
                                            "rejected",
                                            "dismissed"
                                        ]
                                    }
                                },
                                "required": [
                                    "status"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`Modules.Admin.Http.Resources.ReportResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Modules.Admin.Http.Resources.ReportResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/admin/dashboard": {
            "get": {
                "operationId": "v1.adminDashboard",
                "tags": [
                    "Admin \u2014 Dashboard"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "users_total": {
                                                    "type": "integer"
                                                },
                                                "posts_total": {
                                                    "type": "integer"
                                                },
                                                "communities_total": {
                                                    "type": "integer"
                                                },
                                                "moderation_pending": {
                                                    "type": "integer"
                                                },
                                                "reports_pending": {
                                                    "type": "integer"
                                                },
                                                "plans_active": {
                                                    "type": "integer"
                                                },
                                                "promocodes_active": {
                                                    "type": "integer"
                                                },
                                                "banners_active": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "users_total",
                                                "posts_total",
                                                "communities_total",
                                                "moderation_pending",
                                                "reports_pending",
                                                "plans_active",
                                                "promocodes_active",
                                                "banners_active"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/reports": {
            "post": {
                "operationId": "v1.storeReport",
                "tags": [
                    "Moderation \u2014 Reports"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreReportRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`ReportResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ReportResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "\u0416\u0430\u043b\u043e\u0431\u0430 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0430 \u043d\u0430 \u043c\u043e\u0434\u0435\u0440\u0430\u0446\u0438\u044e."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/feedback": {
            "post": {
                "operationId": "feedback.store",
                "summary": "Submit a feedback message (\"\u041a\u043d\u0438\u0433\u0430 \u0436\u0430\u043b\u043e\u0431 \u0438 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0439\")",
                "tags": [
                    "Users"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "subject": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 120
                                    },
                                    "message": {
                                        "type": "string",
                                        "maxLength": 4000
                                    },
                                    "page": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    }
                                },
                                "required": [
                                    "message"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/admin/delivery/stats": {
            "get": {
                "operationId": "v1.adminDeliveryStats",
                "tags": [
                    "Admin \u2014 Delivery"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "shipments_total": {
                                                    "type": "integer"
                                                },
                                                "shipments_by_provider": {
                                                    "type": "object",
                                                    "additionalProperties": {}
                                                },
                                                "shipments_by_status": {
                                                    "type": "object",
                                                    "additionalProperties": {}
                                                },
                                                "delivery_revenue_cents": {
                                                    "type": "integer"
                                                },
                                                "avg_delivery_days": {
                                                    "type": [
                                                        "number",
                                                        "null"
                                                    ]
                                                },
                                                "errors_last_7d": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "shipments_total",
                                                "shipments_by_provider",
                                                "shipments_by_status",
                                                "delivery_revenue_cents",
                                                "avg_delivery_days",
                                                "errors_last_7d"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/admin/delivery/shipments": {
            "get": {
                "operationId": "v1.adminIndexShipments",
                "tags": [
                    "Admin \u2014 Delivery"
                ],
                "parameters": [
                    {
                        "name": "seller_id",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "buyer_id",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "example": "error"
                    },
                    {
                        "name": "provider",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "enum": [
                                "cdek",
                                "yandex"
                            ]
                        },
                        "example": "cdek"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `ShipmentResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ShipmentResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/admin/delivery/shipments/{shipment}": {
            "get": {
                "operationId": "v1.adminShowShipment",
                "tags": [
                    "Admin \u2014 Delivery"
                ],
                "parameters": [
                    {
                        "name": "shipment",
                        "in": "path",
                        "required": true,
                        "description": "The shipment UUID",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ShipmentResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "patch": {
                "operationId": "v1.adminUpdateShipment",
                "tags": [
                    "Admin \u2014 Delivery"
                ],
                "parameters": [
                    {
                        "name": "shipment",
                        "in": "path",
                        "required": true,
                        "description": "The shipment UUID",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "admin_note": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 5000
                                    },
                                    "status": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ShipmentResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/admin/users": {
            "get": {
                "operationId": "users.index",
                "tags": [
                    "Admin \u2014 Users"
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `UserResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "users.store",
                "description": "\u0422\u043e\u043b\u044c\u043a\u043e admin. \u041f\u0430\u0440\u043e\u043b\u044c \u0445\u0435\u0448\u0438\u0440\u0443\u0435\u0442\u0441\u044f \u0430\u0432\u0442\u043e\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438.",
                "summary": "\u0421\u043e\u0437\u0434\u0430\u0442\u044c \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
                "tags": [
                    "Admin \u2014 Users"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/StoreAdminUserRequest"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "example": "staff@example.com",
                                                "maxLength": 255
                                            },
                                            "password": {
                                                "type": "string",
                                                "example": "password123"
                                            },
                                            "name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "example": "Staff User",
                                                "maxLength": 120
                                            },
                                            "role": {
                                                "description": "user|subscriber|moderator|admin",
                                                "example": "moderator",
                                                "$ref": "#/components/schemas/UserRole"
                                            },
                                            "status": {
                                                "description": "active|blocked|pending_verification",
                                                "example": "active",
                                                "$ref": "#/components/schemas/UserStatus"
                                            }
                                        },
                                        "required": [
                                            "email",
                                            "password",
                                            "role",
                                            "status"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`UserResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/admin/users/{uuid}": {
            "get": {
                "operationId": "users.show",
                "tags": [
                    "Admin \u2014 Users"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "description": "UUID \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f (demo \u043f\u043e\u0441\u043b\u0435 seed)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "00000000-0000-4000-8000-000000000001"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`UserResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundHttpException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "users.update",
                "tags": [
                    "Admin \u2014 Users"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "description": "UUID \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
                        "schema": {
                            "type": "string"
                        },
                        "example": "00000000-0000-4000-8000-000000000001"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/UpdateAdminUserRequest"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "example": "Demo User Updated",
                                                "maxLength": 120
                                            },
                                            "status": {
                                                "example": "active",
                                                "$ref": "#/components/schemas/UserStatus"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`UserResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundHttpException"
[...]
